<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>字符串的扩展</title>
</head>
<body>

<script>
    // js 允许采用 \uxxxx形式表示一个字符，其中xxxx表示字符的 Unicode 码点(只限于 \u0000 - \uFFFF 之间的字符)
    console.log('\u0061'); // a
    // 如果直接在\u后面跟上超过0xFFFF的数值（比如\u20BB7），JavaScript会理解成\u20BB+7。由于\u20BB是一个不可打印字符，所以只会显示一个空格，后面跟着一个7
    console.log('\u20BB7'); //  7
    // ES6 对这一点做出了改进，只要将码点放入大括号，就能正确解读该字符
    console.log('\u{20BB7}'); // 𠮷
    console.log('\u{41}\u{42}\u{43}'); // ABC

    // codePointAt方法返回的是码点的十进制值，如果想要十六进制的值，可以使用toString方法转换一下
    const s = '𠮷a';
    console.log(s.codePointAt(0)); // 134071
    console.log(s.codePointAt(1)); // 57271
    console.log(s.codePointAt(2)); // 97
    console.log(s.codePointAt(0).toString(16)); // 20bb7
    console.log(s.codePointAt(2).toString(16)); // 61

    // includes() startsWith() endsWith()
    /*
     includes()：返回布尔值，表示是否找到了参数字符串。
     startsWith()：返回布尔值，表示参数字符串是否在源字符串的头部。
     endsWith()：返回布尔值，表示参数字符串是否在源字符串的尾部。
     */
    const o = 'Hello World!';
    console.log(o.startsWith('Hello')); // true
    console.log(o.endsWith('!')); // true
    console.log(o.includes('o')); // true

    // repeat() 返回一个新字符串，表示将原字符串重复n次
    const p = 'a';
    const q = 'hello';
    console.log(p.repeat(3)); // aaa
    console.log(q.repeat(2)); // hellohello
    console.log(p.repeat(0)); // ''

    // padStart() padEnd()
    /*
     padStart 和 padEnd 一共接受两个参数，第一个参数用来指定字符串的最小长度，第二个参数是用来补全的字符串。
     如果原字符串的长度，等于或大于指定的最小长度，则返回原字符串。
     如果用来补全的字符串与原字符串，两者的长度之和超过了指定的最小长度，则会截去超出位数的补全字符串
     */
    const r = 'x';
    const rr = 'xxx';
    const rrr = 'yyy';
    console.log(r.padStart(5, 'ab')); // ababx
    console.log(r.padStart(4, 'ab')); // abax
    console.log(r.padEnd(5, 'ab')); // xabab
    console.log(r.padEnd(4, 'ab')); // xaba
    console.log(rr.padStart(2, 'ab')); // xxx
    console.log(rr.padEnd(2, 'ab')); // xxx
    console.log(rrr.padStart(10, '0123456789')); // 0123456abc

    // 模板字符串
    // 1、字符串中嵌入变量 需要将变量名写在${}之中
    const name = 'Bob';
    const time = 'today';
    const html = `Hello ${name},how are you ${time}`;
    document.write(html + `<br />`);
    const a = 1, b = 2;
    document.write(`${a} + ${b} = ${a + b}` + `<br />`);
    document.write(`${a} + ${b * 2} = ${a + b * 2}` + `<br />`);
    const obj = {a: 1, b: 2};
    console.log(`${obj.a + obj.b}`);

    // 2、模板字符串编译
    // 该模板使用<%...%>放置JavaScript代码，使用<%= ... %>输出JavaScript表达式 怎么编译这个模板字符串
    var template = `
                    <ul>
                      <% for(var i=0; i < data.supplies.length; i++) { %>
                        <li><%= data.supplies[i] %></li>
                      <% } %>
                    </ul>
                    `;

    function compile(template) {
        var evalExpr = /<%=(.+?)%>/g;
        var expr = /<%([\s\S]+?)%>/g;

        template = template
            .replace(evalExpr, '`); \n  echo( $1 ); \n  echo(`')
            .replace(expr, '`); \n $1 \n  echo(`');

        template = 'echo(`' + template + '`);';

        var script = `(function parse(data){
                        var output = "";

                        function echo(html){
                          output += html;
                        }

                        ${ template }

                        return output;
                      })`;

        return script;
    }

    var parse = eval(compile(template));
    var label = parse({ supplies: [ "broom", "mop", "cleaner" ] });
    document.write(label);

</script>


</body>
</html>